<%= form_tag posts_path do %>
<h3>Post Form</h3>
<form class="" action="<%= posts_path %>" method="post">
  <label>Post title:</label><br>
  <input type="text" id="post_title" name="post[title]" value=""><br>

  <label>Post description:</label><br>
  <textarea id="post_description" name="post[description]" value=""></textarea<br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" name="submit" value="Submit Post">
</form>
<% end %>
